.header {
  display: flex;
  align-items: center;
  z-index: 10;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
}
.logo {
  display: inline-block;
  img {
    width: 100%;
    height: 100%;
  }
}
.logo,
.register-wrapper {
  padding: 19px 0;
}
.register-wrapper {
  display: flex;
  align-items: center;
}
.header-home-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: #1ea852;
  &:hover {
    box-shadow: 0 0 3px #1ea852;
  }
  &:active {
    transform: translateY(1px);
  }
}
.registration-btn,
.header-contacts-link {
  margin-left: 28px;
}
.registration-btn {
  color: #fff;
  background: #eb0a2a;
  padding: 16px 46px;
  border-radius: 23px;
  &:hover {
    box-shadow: 0 0 3px #eb0a2a;
  }
  &:active {
    transform: translateY(1px);
  }
}
.header-contacts-link {
  &:hover {
    animation: rotate-link 4s linear .1s infinite;
  }
}
@keyframes rotate-link {
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 1468px) {
  .logo,
  .register-wrapper {
    padding: 16px 0;
  }
}
@media (max-width: 1368px) {
  .logo {
    max-width: 280px;
  }
  .registration-btn,
  .header-contacts-link {
    margin-left: 20px;
  }
}
@media (max-width: 1268px) {
  .logo,
  .register-wrapper {
    padding: 12px 0;
  }
  .logo {
    max-width: 250px;
  }
  .registration-btn,
  .header-contacts-link {
    margin-left: 16px;
  }
  .header-home-link {
    width: 36px;
    height: 36px;
    svg {
      width: 50%;
      height: 50%;
    }
  }
  .registration-btn {
    padding: 13px 30px;
  }
  .header-contacts-link svg {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 768px) {
  .logo {
    max-width: 200px;
  }
  .logo,
  .register-wrapper {
    padding: 10px 0;
  }
  .registration-btn,
  .header-contacts-link {
    margin-left: 16px;
  }
}
@media (max-width: 550px) {
  header {
    .container {
      flex-direction: column;
      align-items: center;
    }
  }
  .register-wrapper {
    justify-content: space-between;
    width: 100%;
  }
  .logo {
    padding-bottom: 0;
  }
  .registration-btn,
  .header-contacts-link {
    margin-left: 0;
  }
  .registration-btn {
    width: 216px;
    text-align: center;
  }
}
@media (max-width: 375px) {
  .logo {
    max-width: 100%;
    padding-bottom: 5px;
  }
}
