html.fixed,
html.fixed body {
    overflow: hidden;
}
img{vertical-align: top;}
body{
    position: relative;
    font-family: $GothamPro;
    background: #1d2343;
    color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
}
picture {
    text-align: center;
}
.container {
    max-width: calc(100% - 80px);
    margin: 0 auto;
}
@media (max-width: 768px) {
    body {
        overflow: auto;
    }
    .container {
        max-width: calc(100% - 40px);
        margin: 0 auto;
    }
}
@media (max-width: 320px) {

    .container {
        max-width: calc(100% - 20px);
        margin: 0 auto;
    }
}
.page{
    position: relative;
    overflow: hidden;
    .block{
        position: relative;
        .content{
            margin: auto;
        }
    }
}
p { margin: 0; }
svg path {transition: fill .3s linear;}
select {
    cursor: pointer;
    transition: $link-hover-transition;
    &:hover {  color: $hover-color;  }
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
